# Node modules
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log

# Coverage reports
coverage/

# TypeScript
*.tsbuildinfo

# IDE / Editor files
.idea/
.vscode/
*.suo
*.ntvs*

# GitHub / macOS files
.DS_Store

# Vite timestamp cache files
*.timestamp-*

# Lint / Formatter configs
.eslintrc*
.prettier*
